<ConfigFile>
	<ScreenSize x="1366" y="768"/>
	<Resolution x="1366" y="768"/>
	<Fullscreen enabled="yes"/>
	<Font red="0" green="0" blue="255" size="80"/>

</ConfigFile>

<ScreenSize x="1366" y="768"/>
<Resolution x="1366" y="768"/>
<Fullscreen enabled="no"/>
<Font red="0" green="0" blue="255" size="80"/>
<Chars>
	<char nombre="Mole"/>
	<char nombre="Mole"/>
	<char nombre="Mole"/>
</Chars>
<Stages>
	<stage nombre="CastleSuzaku"/>
<!--
	<stage nombre="CastleSuzakuLowGraphics"/>
-->
</Stages>
<IntroAnimation frames="4" duration="20"/>
<KOAnimation frames="2" duration="20"/>
<VictoryIcon x="180" y="120"/>
